<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styling.css">
    <title>homepage</title>
</head>

<body>

    <div class="grid-container">
        <div class="header">
            <div class="logo">
                <a href="/users/profile">
                    <div><img src="/images/MusicLogo.jpg" alt="default" class="home">
                    </div>
                    <div class="white-color" id="logo-name">
                        &nbsp;Ninjas<br>&nbsp;Studio
                    </div>
                </a>
            </div>
            <span class="favorites">
                <!-- <a href="/showFavorite" class="linkColor">Favorites</a> -->
                <div class="dropdown" style="float:left;">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Favorites
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="/showFavorite">Songs</a></li>
                        <li><a tabindex="-1" href="/showFavoriteArtist">Artists</a></li>
                    </ul>
                </div>
            </span>
            </span>
            <div class="topnav" id="myTopnav">
                <span class="playl">
                    <a href="/playlists/show" class="linkColor">Playlists</a>
                </span>
                <span class="queue-list">
                    <a href="/queue/showQueue" class="linkColor">Queue</a>
                </span>
                <span class="preferences-list">
                    <a href="/genre/fetch" class="linkColor">Genre</a>
                </span>
                <span class="trending-list">
                    <a href="/trending" class="linkColor">Trending</a>
                </span>
                <span class="bars-list">
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </span>
            </div>
            <div class="searching">
                <div class="nav-icons" id="search"><a href="#"><i class="fas fa-search"></i></a></div>
                <div class="searchBar">
                    <input type="text" name="search" placeholder="search" class="w">
                </div>
                <div class="nav-icons" id="record"><a href="#"><i class="fas fa-microphone"></i></a></div>
            </div>
            <span class="nav-icons" id="noti">
                <a href="#"><i id="noti" class="fas fa-bell"></i></a>
            </span>
            <span class="nav-icons" id="profile">
                <a href=""><i id="profile" class="fas fa-user-circle"></i></a>
            </span>
        </div>


        <div class="middle">

            <h3 class="white-color">Artist page</h3>
            <%for(artist of artists){%>
            <div class="playlists">
                <div>
                    <span class="white-color"><%=artist.name%></span>
                </div>
                <div>
                    <span class="white-color"><%=artist.url%></span>
                </div>


            </div>
            <%}%>
        </div>
</body>

</html>